<md-content layout="column" flex>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span flex></span>
      <md-button ng-click="refreshUsers()" class="md-raised">Refresh Users</md-button>
    </div>
  </md-toolbar>
  <a href="https://randomuser.me" target="_blank" rel="noopener, noreferrer" flex="50" flex-offset="50" class="powered-by-randomapi">
    <img src="w20-material-theme-demo/images/randomapi.png" width="100%"/>
  </a>
  <md-list>
    <md-divider></md-divider>
    <md-list-item ng-repeat="user in users" class="md-3-line" ng-click="inspectUser(user.user, $event)">
      <img class="md-avatar" ng-src="{{user.user.picture.thumbnail}}" />
      <div class="md-list-item-text" layout="column">
        <h3>{{user.user.name.title +" "+ user.user.name.first +" "+ user.user.name.last | capitalize:true}}</h3>
        <h4>{{ user.user.email }}</h4>
        <p>{{ user.user.cell }}</p>
      </div>
    </md-list-item>
    <md-divider></md-divider>
  </md-list>
</md-content>
<md-sidenav md-component-id="user-details" class="user-details md-sidenav-right" layout="column" layout-padding>
  <md-button ng-click="closeInspect()">Close Details</md-button>
  <img ng-src="{{selectedUser.picture.large}}" ng-if="pictureDisplayed" class="details-avatar" />
  <md-list>
    <md-list-item>
      <md-icon>person</md-icon>
      <p>{{selectedUser.name.title +" "+ selectedUser.name.first +" "+ selectedUser.name.last | capitalize:true}}</p>
    </md-list-item>
    <md-list-item>
      <md-icon>email</md-icon>
      <p>{{selectedUser.email}}</p>
    </md-list-item>
    <md-list-item>
      <md-icon>phone</md-icon>
      <p>{{selectedUser.phone}}</p>
    </md-list-item>
    <md-list-item>
      <md-icon>smartphone</md-icon>
      <p>{{selectedUser.cell}}</p>
    </md-list-item>
    <md-list-item>
      <md-icon>cake</md-icon>
      <p>{{selectedUser.dob | date}}</p>
    </md-list-item>
  </md-list>
</md-sidenav>