<section class="home-view">
  <h1 class="md-display-2">W20 Material Theme</h1>
  <p class="md-subhead">W20 theme using Angular Material as the main styling
  library</p>
  <h2 class="md-display-2">Installation</h2>
  <pre>bower install w20-material-theme</pre>
  <h2 class="md-display-2">Configuration</h2>
  <p class="md-body-1">In <code>#/modules/main/theme</code>,
  <code>primaryPalette</code> and <code>accentPalette</code> properties MUST be
  defined. Each defined <code>*Palette</code> property MUST have at least their
  <code>name</code> properties defined. The <code>hues</code> property follows
  <a href="https://material.angularjs.org/latest/Theming/03_configuring_a_theme#specifying-custom-hues-for-color-intentions">Material Angular color intentions syntax</a>. A list of color
  palettes is present on the <a href="http://www.google.com/design/spec/style/color.html#color-color-palette">Material Design Specification</a>.</p>
  <pre>"bower_components/w20-material-theme/w20-material-theme.w20.json": {
  "modules": {
    "sidenav": {
      "logoUrl": "/home",
      "logoImg": "/images/logo.png",
      "backgroundImg": "/images/header-background.jpg"
    },
    "main": {
      "theme": {
        "primaryPalette": {
          "name": "indigo",
          "hues": {
            "default": "400",
            "hue-1": "100",
            "hue-3": "A100"
          }
        },
        "accentPalette": {
          "name": "amber"
        },
        "warnPalette": {
          "name": "red",
          "hues": {
            "default": "400",
            "hue-2": "600"
          }
        },
        "backgroundPalette": {
          "name": "blue-grey"
        },
        "dark": true // Defaults to false
      }
    }
  }
}</pre>
  <h2 class="md-display-2">Usage</h2>
  <p class="md-body-1">A simple usage would be:</p>
  <pre>&lt;!DOCTYPE html&gt;
&lt;html data-w20-app&gt;
&lt;head&gt;
  &lt;meta http-equiv=&quot;X-UA-Compatible&quot; content=&quot;IE=Edge&quot;&gt;
  &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;
  &lt;meta charset=&quot;utf-8&quot;&gt;
  &lt;title&gt;W20 Material Theme Test&lt;/title&gt;
  &lt;script type=&quot;text/javascript&quot; data-main=&quot;bower_components/w20/modules/w20&quot; src=&quot;bower_components/requirejs/require.js&quot;&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body layout ng-cloak&gt;
  &lt;div id=&quot;w20-loading-cloak&quot;&gt;
    &lt;div class=&quot;w20-loading-indicator&quot;&gt;&lt;/div&gt;
  &lt;/div&gt;
  &lt;w20-material-sidenav&gt;&lt;/w20-material-sidenav&gt;
  &lt;main layout=&quot;column&quot; flex&gt;
    &lt;w20-material-topbar search-placeholder=&quot;app.i18n.topbar.search.placeholder&quot; search-maxlength=&quot;10&quot;&gt;&lt;/w20-material-topbar&gt;
    &lt;md-content ng-view layout=&quot;column&quot; layout-align=&quot;start center&quot; flex&gt;&lt;/md-content&gt;
  &lt;/main&gt;
  &lt;div data-w20-error-report&gt;&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
  <h3 class="md-headline">w20-material-sidenav</h3>
  <p class="md-body-1">Create a <a href="https://material.angularjs.org/latest/demo/sidenav">Material Angular sidenav</a> based
  upon a <a href="https://www.google.com/design/spec/patterns/navigation-drawer.html#navigation-drawer-behavior ">temporary drawer from the Material Design
  Specification</a>.</p>
  <p class="md-body-1">Generated by the <code>routes</code> property present in
  the fragment configuration. For each route, the <code>icon</code> property
  define its icon. Icons are <a href="https://design.google.com/icons/">Material Design Icons</a>. By default
  the icon is <code>arrow_right</code>.</p>
  <pre>"routes": {
  "/home": {
    "templateUrl": "/views/home.html",
    "hidden": false,
    "icon": "home"
  }
},</pre>
  <h4 class="md-title">'w20.material.sidenav.open'
  event</h4><code>$scope.$emit('w20.material.sidenav.open'[, state]):</code>
  <ul>
    <li>
      <p class="md-body-1"><code>state</code>: Boolean. Open the sidenav if
      <code>true</code>. Optional</p>
    </li>
  </ul>
  <p class="md-body-1">If <code>state</code> is omitted, the event toggle the
  state of the sidenav.</p>
  <p class="md-body-1"><em>Tips:</em> If you consider opening and closing the
  sidenav by swiping, bind the event emitters on <code>&lt;body&gt;</code> like
  below.</p>
  <pre>
  &lt;body md-swipe-left=&quot;$emit('w20.material.sidenav.open', false)&quot; md-swipe-right=&quot;$emit('w20.material.sidenav.open', true)&quot;&gt;</pre>
  <h3 class="md-headline">w20-material-topbar</h3>
  <p class="md-body-1">Create a <a href="https://material.angularjs.org/latest/demo/toolbar">Material Angular toolbar</a> based
  upon a <a href="https://www.google.com/design/spec/components/toolbars.html#toolbars-usage">toolbar from the Material Design Specification</a>.</p>
  <p class="md-body-1">The elements in the topbar are purposely fixed in order
  to net being able to bloat the entire topbar with buttons. It is only
  composed of:</p>
  <ul>
    <li>
      <p class="md-body-1">Menu button to open the sidenav, hidden when the
      sidenav become fixed at larger resolutions</p>
    </li>
    <li>
      <p class="md-body-1">View title, with its value from
      <a href="https://github.com/seedstack/w20/blob/master/modules/culture.js"><code>cultureService.displayName()</code></a></p>
    </li>
    <li>
      <p class="md-body-1">Search button to display a search input sending a
      w20.material.topbar.search.query event upon use</p>
    </li>
  </ul>
  <h4 class="md-title">search-maxlength attribute</h4>
  <p class="md-body-1">Define a maximum length of input. When the input is too
  long, a red underline appears.</p>
  <h4 class="md-title">search-placeholder attribute</h4>
  <p class="md-body-1">Values are i18n key or simple string. If the attribute
  matches a i18n key, its value is retrieved through the <code>localize</code>
  w20 filter; if the value cannot be found, the literal string is
  displayed.</p>
  <h4 class="md-title">'w20.material.topbar.search.query' event</h4>
  <p class="md-body-1">This event is emitted when the value of the search input
  changes.</p>
</section>