<md-list>
    <header class="md-list-header" ng-style="{'background-image': 'url('+ sidenav.backgroundImg +')'}">
        <a ng-href="sidenav.logoUrl">
          <img class="header-logo" alt="App logo" ng-src="{{sidenav.logoImg}}" />
        </a>
        <p>{{sidenav.user}}</p>
    </header>
    <md-list-item class="" ng-repeat="route in sidenav.routes" ng-click="goTo(route.path)" md-no-ink>
        <md-icon class="material-icons md-avatar-icon">{{route.icon || 'chevron_right'}}</md-icon>
        <p>{{displayName(route)}}</p>
    </md-list-item>
</md-list>