<md-list>
    <header class="md-list-header" ng-style="{'background-image': config.backgroundImg}">
        <a ng-href="config.logoUrl">
          <img class="header-logo" alt="Placeholder image" ng-src="{{config.logoImg}}" />
        </a>
        <p>{{userFullName}}</p>
    </header>
    <md-list-item class="" ng-repeat="route in topLevelRoutes()" ng-click="goTo(route.path)" md-no-ink >
        <md-icon class="material-icons _{{route.icon || 'chevron_right'}} md-avatar-icon"></md-icon>
        <p>{{displayName(route)}}</p>
    </md-list-item>
</md-list>