<md-toolbar class="app-topbar md-whiteframe-z2">
    <div class="md-toolbar-tools" data-ng-show="search.disabled || !search.opened">
        <md-button class="md-icon-button" aria-label="{{'w20.i18n.topbar.button.label.menu' | localize}}" data-ng-click="openSidenav()" hide-gt-md>
            <md-icon class="material-icons">menu</md-icon>
        </md-button>
        <h1>{{topbar.title}}</h1>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="{{'w20.i18n.topbar.button.label.search' | localize}}" data-ng-click="search.open()" data-ng-hide="search.disabled">
            <md-icon class="material-icons">search</md-icon>
        </md-button>
    </div>
    <div class="md-toolbar-tools" data-ng-hide="search.disabled || !search.opened">
        <md-button class="md-icon-button" aria-label="{{'w20.i18n.topbar.button.label.cancel' | localize}}" data-ng-click="search.close()">
            <md-icon class="material-icons">arrow_back</md-icon>
        </md-button>
        <md-input-container class="topbar-search" md-no-float flex>
            <input type="search" name="w20-material-theme-search" placeholder="{{search.placeholder}}" data-ng-model="search.value" data-ng-maxlength="searchMaxlength"/>
        </md-input-container>
        <md-button class="md-icon-button" aria-label="{{'w20.i18n.topbar.button.label.clear' | localize}}" data-ng-click="search.value = ''; search.focus()" data-ng-disabled="search.value == ''">
            <md-icon class="material-icons">clear</md-icon>
        </md-button>
    </div>
</md-toolbar>